.form-card {
  width: min(95%, 850px);
  margin-inline: auto;
  background-color: var(--color-white);
}

.transactiom-form {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;

  /* gsap */
  visibility: hidden;
  opacity: 0;
  transform: scaleY(0);
  height: 0;
}

.transactiom-form > div:first-child {
  margin-bottom: 2rem;
}

.transactiom-form > button {
  margin-top: 2.5rem;
}

/* Forms */
input {
  color: var(--color-title);
}

::placeholder,
input[type='date'] {
  color: var(--color-text);
}

input,
select {
  display: block;
  font-family: inherit;
  border: 0;
  background-color: var(--color-background-light);
  width: min(100%, 650px);
  margin: 0 auto;
  border-radius: 10px;
  padding: 1rem 1.25rem;
}

select {
  color: var(--color-text);
  border-right: 1.25rem solid transparent;
}

/* Util class */
.error {
  width: min(100%, 650px);
  margin: 0 auto;
  color: var(--color-error);
  font-size: var(--fz-error);
  margin-top: 0.25rem;
}
