.card-overview {
  color: var(--color-white);
  background: var(--color-linear-card);
  width: min(90%, 510px);
  margin-inline: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.125rem;
  text-align: center;
  box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.1);
}

.card-overview h2 {
  font-weight: 400;
  font-size: var(--fz-xsmall);
}

.card-overview p {
  font-weight: 600;
  font-size: var(--fz-small);
}

/* Images */
.card-overview__income__img,
.card-overview__expenses__img {
  display: none;
}

/* MEDIA min-width: 600px */
@media screen and (min-width: 600px) {
  .card-overview {
    padding: 2.5rem 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5rem 0.5rem;
  }

  .card-overview h2 {
    font-weight: 400;
    font-size: var(--fz-small);
  }

  .card-overview p {
    font-weight: 600;
    font-size: var(--fz-medium);
  }

  /* Images */
  .card-overview__income__img,
  .card-overview__expenses__img {
    display: block;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Glassmorphism effect */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.15);
  }

  .card-overview__income,
  .card-overview__expenses {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
