:root {
  /* colors */
  --color-background: #ede9f0;
  --color-linear-card: linear-gradient(
    135deg,
    #c878d9,
    #ee79b1,
    #f1a094,
    #f09761
  );
  --color-linear-button: linear-gradient(135deg, #fe8338, #f1a094);
  --color-text: #7c7c7c;
  --color-title: #1a1919;
  --color-white: #fff;
  --color-light: #fbfbfb;

  /* font-sizes */
  --fz-xsmall-mobile: 1rem;
  --fz-small-mobile: 1.25rem;
  --fz-medium-mobile: 1.5rem;
  --fz-large-mobile: 2.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  background-color: var(--color-background);
}
