:root {
  /* colors */
  --color-background-light: #f2f2f2;
  --color-background: #ede9f0;
  --color-linear-card: linear-gradient(
    135deg,
    #c878d9,
    #ee79b1,
    #f1a094,
    #f09761
  );
  --color-linear-button: linear-gradient(135deg, #fe8338, #f1a094);
  --color-text: #7c7c7c;
  --color-title: #1a1919;
  --color-white: #fff;
  --color-light: #fbfbfb;
  --color-error: crimson;
  --color-success: #20bf55;

  /* font-sizes */
  --fz-error: 0.75rem;
  --fz-success: 0.85rem;
  --fz-xsmall: 1rem;
  --fz-small: 1.25rem;
  --fz-medium: 1.35rem;
  --fz-medium2: 1.75rem;
  --fz-large: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  background-color: var(--color-background);
}

ul {
  list-style: none;
}
